<!-- 

    담당자 : 이승현
    페이지 설명 : 하단에 고정되는 footer

 -->
 <!DOCTYPE html>
 <html lang="ko">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
 
    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
 
   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="css/partials/footer.css">
   <title>상단 메뉴</title>
 </head>
 <body>
 <div class="footer">
     <p class="text-center text-muted">&copy; Copyright 2022 The R.Z.A 얼어 죽어도 아이스 아메리카노 Team</p>
 </div>