<!-- 

    담당자 : 이승현
    함수 설명 : 각 페이지에 공통적으로 들어가는 navigation을 뽑아 ejs의 <%- include %>를 활용하여 넣어준다. 
    페이지 설명 : 전 페이지 공통 적용 Header
    기능 설명 :  1. 각 페이지로 이동하는 기능   // 승현
                2. 로그아웃 기능 - [로그인 페이지로 이동]   // 승현
                3. 이용자 관리 페이지 이동 버튼 - [관리자만 표시]   // 건희
                4. favicon 넣기     // 승현 - 아직 못했어요.

 -->
 <!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== FAVICON ===============-->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon_package/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon_package/favicon-16x16.png">
    <link rel="manifest" href="img/favicon_package/site.webmanifest">
    <link rel="mask-icon" href="img/favicon_package/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--=============== REMIX ICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== JQUERY ===============-->
    <script src="js/jquery.min.js"></script>

    <!--============= AJAX JQUERY =============-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    
    <!--=============== FONTAWESOME ===============-->
    <link rel="stylesheet" href="/css/fontawesome-free-6.2.0-web/css/all.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/partials/header.css">

    <!--=============== JS ===============-->
    <script src="js/partials/header.js" defer></script>
  <title>상단 메뉴</title>
</head>
<body>
  <!--==================== HEADER ====================-->
  <header class="header" id="header">
    <nav class="nav container">
        <a href="/index" class="nav__logo" indexPage()>
            <i class="fa-solid fa-microchip"></i>R.Z.A
        </a>

        <div class="nav__menu-login" id="nav-menu-login">
            <ul class="nav__list nav__menu-login__ul">
                <li class="nav__item nav__menu-login__li userInfo">
                    <a href="" class="nav__link nav__menu-login__a"><%= hellow %></a>
                </li>

                <li class="nav__item nav__menu-login__li logout">
                    <a href="/" onclick='logoutPage()' class="nav__link nav__menu-login__a">로그아웃</a>
                </li>
                <!-- 관리자에게만 보이게 권한 부여할 것! -->
                <li class="nav__item nav__menu-login__li">
                    <a href="/userManagement" onclick='userManagementPage()' class="nav__link nav__menu-login__a">이용자 관리</a>
                </li>
            </ul>
        </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/index" onclick='stockManagementPage()' class="nav__link">물품 관리</a>
                </li>
                <li class="nav__item">
                    <a href="/stockRegistration" onclick='stockRegistrationPage()' class="nav__link">물품 등록</a>
                </li>
                <li class="nav__item">
                    <a href="/index" onclick='allRentalStatusPage()' class="nav__link active-link">대여 현황</a>
                </li>
                <li class="nav__item">
                    <a href="/myRentalStatus" onclick='myRentalStatusPage()' class="nav__link">마이페이지</a>
                </li>
            </ul>

            <!-- 모바일 네비게이션 close 버튼 -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

            <div class="nav__btns">
                <!-- 다크모드 변경 버튼 -->
                <i class="ri-moon-line change-theme" id="theme-button"></i>
                <!-- 모바일 네비게이션 opne 버튼 -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
</header> 
<script>
</script>
</body>
</html>