<!-- 

    담당자 : 이승현
    페이지 설명 : 회원가입 페이지
    기능 설명 :  1. 회원가입 완료 후 로그인 페이지 이동
                2. 비밀번호 검증기능 - [비밀번호 최소 4자리 이상 특수문자]
                3. 메일 검증 기능 - [@, . 등은 있어야 함]
                4. 비밀번호 저장 시 암호화하여 저장

 -->
 <!DOCTYPE html>
 <html lang="ko">
 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--=============== JQUERY ===============-->
   <script src="js/jquery.min.js"></script>
   
   <!--=============AJAX JQUERY ============ -->
   <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

   <!--=============== FONTAWESOME ===============-->
   <link rel="stylesheet" href="/css/fontawesome-free-6.2.0-web/css/all.min.css">
   
   <!--=============== CSS ===============-->
   <link rel="stylesheet" href="css/addUser.css">
   <!--=============== JS ===============-->
   <script src="js/addUser.js" defer></script>
   <title>회원가입 페이지</title>
 </head>
 <body>
   <!--=============== HEADER ===============-->
   <header>
 
     <%- include('partials/header.ejs'); %>
 
   </header>
   <section id="add_user" class="container">
     <hgroup>
       <h2>회원 가입</h2>
       <h3>회원 가입을 통해 더 많은 서비스를 제공받을 수 있습니다.</h3>
     </hgroup>
     <div id="contentWrap">
       <h3 class="hidden">회원 가입 내용</h3>
         <!-- <form action="/successAddUser" method="post"> -->
               <table>
                   <tr>
                       <td><label for="userName">이름</label></td>
                       <td><input type="text" id="userName" name="userName" placeholder="이름을 입력하세요."/></td>
                       <td></td>
                   </tr> 
                   <tr>
                       <td><label for="team">부서</label></td>
                       <td>
                         <select id="teamList1" name="teamList1" class="teamList" onchange="selectTeam()">
                            <!--onchage: select안에 있는 옵션들의 값이 바꼈을때 명령이 실행
                             onclick을 안하는 이유: 키보드 사용자는 click을 할수 없으므로-->
                           <option value="default" selected>-- 선택 --</option>
                           <option value="영업부">영업부</option>
                           <option value="기술부">기술부</option>
                           <option value="품질경영부">품질경영부</option>
                           <option value="기업부설연구소">기업부설연구소</option>
                         </select>
                     </td>
                     <td>
                       <select name="teamList2" id="teamList2">
                         <option value="">-- 선택 --</option>
                       </select>
                     </td>
                   </tr>
                   <tr>
                     <td><label for="teamPosition">직책</label></td>
                     <td>
                       <select name="teamPosition" id="teamPosition">
                         <option value="연구원 보조">연구원 보조</option>
                         <option value="연구원">연구원</option>
                         <option value="주임연구원">주임연구원</option>
                         <option value="전임연구원">전임연구원</option>
                         <option value="선임연구원">선입연구원</option>
                         <option value="책임연구원">책임연구원</option>
                         <option value="수석연구원">수석연구원</option>
                       </select>
                     </td>
                     <td></td>
 
                   </tr>
                   <tr>
                     <td id="label"><label for="userId">사원번호</label></td>
                     <td><input type="text" name="userId" id="userId" maxlength="12" placeholder="사원번호를 입력하세요."/></td>
                     <td></td>
                     <!-- <td><input type="button" id="duplicateCheck" name="duplicateCheck" value="중복 확인"/></td> -->
                   </tr>
                   <!-- 담당자 : 이승현
                       함수 설명 : 정규식 활용
                       기능 설명 : 3. 메일 검증 기능 - [@, . 등은 있어야 함]
                     -->
                   <tr>
                       <td><label for="email1">email</label></td>
                       <td> 
                         <input type="text" name="email"  id="email" value="" size="20" placeholder="name@example.com"/> 
                       </td> 
                       <td></td>
 
                   </tr>
                   <!-- 2. 비밀번호 검증 기능
                   // sccript로 구현하는 것 같은데 아직 진행 못했어요 -->
                   <tr class="input password">
                     <!--patter으로 비밀번호 유효성 검사 minlength와 maxlength로 글자 수 제한--> 
                     <td><label for="password">비밀번호</b></td>
                     <td class="passwdWrap">
                       <input type="password" id="txtPassword1" name="txtPassword" class="txtPassword" placeholder="비밀번호를 입력하세요." />
                       <div class="eyes">
                         <i class="fa-solid fa-eye"></i>
                       </div>
                     </td>
                     <td></td>
 
                   </tr>
                   <tr class="input password">
                     <td><label for="password">비밀번호 확인</b></td>
                     <td class="passwdWrap">
                       <input type="password" id="txtPassword2" class="txtPassword" placeholder="비밀번호를 확인하세요.">
                       <div class="eyes">
                         <i class="fa-solid fa-eye"></i>
                       </div>
                     </td>
                     <td><a class="pwCheck" onclick="fn_pw_check()">확인</a></td>
                   </tr> 
               </table>
           <!-- 1. 회원가입 완료 후 로그인 페이지로 이동 
           // 제 생각인데 회원가입 완료 페이지를 만들어서 [로그인하기] 버튼을 만들어 
             클릭 시 이동하는 방법이 좋을 것 같아요 -->
           <a class="addUserBtn">
             <input class="button" onclick="GoToEnroll()" type="submit" value="확인"/>
           </a>
         <!-- </form> -->
     </div>
   </section>
   <!--=============== FOOTER ===============-->
   <footer>
 
     <%- include('partials/footer.ejs'); %>
 
   </footer>
   <script type="text/javascript">
     
   </script>  
 </body>
 </html>