 <!-- 

      담당자 : 이승현
      콘셉트 : 키오스크 설정 기반 재고 관리 시스템
      기능 설명 :  [index page] - 대여화면(Right), 물품관리(Left)
      [대여화면(Right)] 1. 반납 시간 설정 기능
                        > [시작일, 종료일 설정 기능]
                        > [시간 단위로 설정 기능]
                      2. 확인 클릭 시 대여 기능
                        > [대여 확인 알림]
                      3. 취소 클릭 시 진행 취소 기능

  -->
  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/index.css">
    <!--=============== JS ===============-->
    <!-- <script src="js/main/main.js" defer></script> -->
    <title>메인 화면</title>
  </head>
  <body>
    <header>
      <%- include('partials/header.ejs'); %>
    </header>
    <div id="indexWrap" class="container">
        <!-- 
  
            담당자 : 이승현
            콘셉트 : 키오스크 설정 기반 재고 관리 시스템
            기능 설명 :  [index page] - 대여화면(Right), 물품관리(Left)
            [물품 관리(Left)] 1. 검색 기능
                            2. [물품이름, 대여자 이름으로 검색](관리자만)
                            3. 물품 등록 화면 호출 기능 (편집 권한)
                            4. 물품 편집 화면 호출 기능 (편집 권한)
                            5. 물품 삭제 기능 (편집 권한)
                            6. 물품 대여자 명단 확인 기능(관리자)
                            7. 목록 분류 별 필터 기능
                            8. 리스트 정렬 기능 
                            > [이름순, 등록일 순]
                            9. 물품 대여자 목록 확인 기능
                            10. 물품 대여 화면 호출 기능
                            > [대여 불가 물품은 제외]
                            > [대여 가능 개수가 0이면 불가능]
                            11. 엑셀 내보내기 기능
                            12. 물품 대여 이력 호출 기능
  
  
        -->
        <section id="indexLeft" class="mainIndex">
            <h3 id="stock_h3" class="hidden">메뉴</h3>
            <form action="">
            <table id="stock_big_group">
              <!-- 
              담당자 : 이승현
              기능 설명 : 물품 이미지를 클릭했을 때 [smModal.ejs] 파일이 뜨도록 한다.
              구현 방법 : * 아래에 js로 숫자 제외한 것을 타이핑했을 때 경고창이 뜨게 설정했다. (176 Line)
             -->
                <tr>
                    <td class="title">오실로스코프</td>
                    <td class="title">신호, 스펙트럼 및 변조 분석기</td>
                    <td class="title">구성 요소 및 액세서리</td>
                    <td class="title">신호 발생기</td>
                </tr>
                <tr>
                    <td class="title">Keithley 장비 및 제품</td>
                    <td class="title">Keithley 반도체 테스트 시스템</td>
                    <td class="title">Keithley 스위칭 및 데이터 획득 시스템</td>
                    <!-- <,> 버튼 클릭 시 초과된 카테고리를 보여준다! -->
                    <td class="title"><button class="btn_left">&#60;</button>
                      <button class="btn_right">&#62;</button></td>
                </tr>
            </table>
            
              <select name="group" id="small_group" class="small_group">
                <option value="" class="small_group_option">소분류1</option>
                <option value="">소분류2</option>
              </select>
            
            <table id="pick_stock" class="sub container">
                <tr>
                  <!-- 제품명 다음 오는 [ex) 50MHz ~ 200MHz]은 대역폭을 의미한다. -->
                    <td><img src="img/indexImg/오실로스코프TBS1000C-1.png" alt="TBS1000C 디지털 스토리지 오실로스코프"><br>
                      TBS1000C 디지털 스토리지 오실로스코프<br>50MHz ~ 200MHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프tbs2000b-2.png" alt="TBS2000B 디지털 스토리지 오실로스코프"><br>
                      TBS2000B 디지털 스토리지 오실로스코프<br>70MHz ~ 200MHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프mso2024b-3.png" alt="MSO/DPO2000B"><br>
                      MSO/DPO2000B<br>70MHz ~ 200MHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프2-series-mso-4.png" alt="2 시리즈 MSO 혼합 신호 오실로스코프"><br>
                      2 시리즈 MSO 혼합 신호 오실로스코프<br>70 MHz~500 MHz
                    </td>
                </tr>
                <tr>
                    <td><img src="img/indexImg/오실로스코프MDO34-5.png" alt="3 시리즈 MDO 혼합 도메인 오실로스코프"><br>
                      3 시리즈 MDO 혼합 도메인 오실로스코프<br>100MHz - 1GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프MSO46-6.png" alt="4 시리즈 MSO 혼합 신호 오실로스코프"><br>
                      4 시리즈 MSO 혼합 신호 오실로스코프<br>200MHz - 1.5GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프mso58b-7.png" alt="5 시리즈 B MSO 혼합 신호 오실로스코프"><br>
                      5 시리즈 B MSO 혼합 신호 오실로스코프<br>350MHz ~ 2GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프mso58lp-8.png" alt="5 시리즈 MSO LP"><br>
                      5 시리즈 MSO LP<br>1GHz
                    </td>
                </tr>
                <tr>
                    <td><img src="img/indexImg/오실로스코프MSO68B-v2-9.png" alt="6 시리즈 B MSO 혼합 신호 오실로스코프"><br>
                      6 시리즈 B MSO 혼합 신호 오실로스코프<br>1GHz ~ 10GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프lpd64-10.png" alt="6 시리즈 LP(Low Profile) 디지타이저"><br>
                      6 시리즈 LP(Low Profile) 디지타이저<br>1GHz ~ 8GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프mso72004c_01a_h-11.png" alt="MSO/DPO70000"><br>
                      MSO/DPO70000<br>8GHz - 33GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프dpo77002sx-12.png" alt="DPO70000SX"><br>
                      DPO70000SX<br>13GHz ~ 70GHz
                    </td>
                </tr>
                <tr>
                    <td><img src="img/indexImg/오실로스코프TPS2000_t-13.png" alt="8 시리즈 샘플링 오실로스코프"><br>
                      8 시리즈 샘플링 오실로스코프<br>30GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프MDO3000-14.png" alt="a-LIST_캡슐커피(블랙그라운드)"><br>
                      TPS2000<br>100MHz - 200MHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프mdo4000c-15.png" alt="a-LIST_콜드브루RTD원액"><br>
                      MDO3000<br>100MHz - 1GHz
                    </td>
                    <td><img src="img/indexImg/오실로스코프mso5000-16.png" alt="a-LIST_스틱커피(디카페인)"><br>
                      MDO4000C<br>200MHz - 1GHz
                    </td>
                </tr>
            </table>
          </form>
            <!-- <td><button class="btn_left">&#60;</button>
              <button class="btn_right">&#62;</button>
            </td> -->
        </section>
        <section id="indexRight" class="mainIndex">
          <%- include('rentalScreen.ejs'); %>
        </section>
    </section>   
  </div>
  <footer>
    <%- include('partials/footer.ejs'); %>
  </footer>
  </body>
  </html>