 <!-- 

      담당자 : 이승현
      콘셉트 : 키오스크 설정 기반 재고 관리 시스템
      기능 설명 :  [index page] - 대여화면(Right), 물품관리(Left)
      [대여화면(Right)] 1. 반납 시간 설정 기능
                        > [시작일, 종료일 설정 기능]
                        > [시간 단위로 설정 기능]
                      2. 확인 클릭 시 대여 기능
                        > [대여 확인 알림]
                      3. 취소 클릭 시 진행 취소 기능

  -->
  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/index.css">
    <!--=============== JS ===============-->
    <!-- <script src="js/main/main.js" defer></script> -->
    <title>메인 화면</title>
  </head>
  <body>
    <header>
      <%- include('partials/header.ejs'); %>
    </header>
    <div id="indexWrap" class="container">
        <!-- 
  
            담당자 : 이승현
            콘셉트 : 키오스크 설정 기반 재고 관리 시스템
            기능 설명 :  [index page] - 대여화면(Right), 물품관리(Left)
            [물품 관리(Left)] 1. 검색 기능
                            2. [물품이름, 대여자 이름으로 검색](관리자만)
                            3. 물품 등록 화면 호출 기능 (편집 권한)
                            4. 물품 편집 화면 호출 기능 (편집 권한)
                            5. 물품 삭제 기능 (편집 권한)
                            6. 물품 대여자 명단 확인 기능(관리자)
                            7. 목록 분류 별 필터 기능
                            8. 리스트 정렬 기능 
                            > [이름순, 등록일 순]
                            9. 물품 대여자 목록 확인 기능
                            10. 물품 대여 화면 호출 기능
                            > [대여 불가 물품은 제외]
                            > [대여 가능 개수가 0이면 불가능]
                            11. 엑셀 내보내기 기능
                            12. 물품 대여 이력 호출 기능
  
  
        -->
        <section id="indexLeft" class="mainIndex">
          <%- include('stockManagement.ejs'); %>
        </section>
        <section id="indexRight" class="mainIndex">
          <%- include('rentalScreen.ejs'); %>
        </section>
      </div>
  <footer>
    <%- include('partials/footer.ejs'); %>
  </footer>
  </body>
  </html>