<!-- 

    담당자 : 이승현
    페이지 설명 : 로그인 페이지
    기능 설명 :  1. 비밀번호, 사번 검증 - [비밀번호, 사번 둘 중 하나가 틀린 경우 둘 다 오류 표시]
                2. 회원가입 페이지 이동
                3. 메인 페이지 이동 기능 - [토큰을 이용한 사용자 검증]

 -->
 <!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== JQUERY ===============-->
    <script src="js/jquery.min.js"></script>

    <!--============= AJAX JQUERY =============-->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <!--=============== FONTAWESOME ===============-->
    <link rel="stylesheet" href="/css/fontawesome-free-6.2.0-web/css/all.min.css">
    
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/login.css">

    <!--=============== JS ===============-->
    <script src="js/login.js" defer></script>
    <title>로그인</title>
</head>
<body>
    <div id="loginSection">
    <section id="loginLeft" class="loginSection">
        <h2 class="hidden">로그인</h2>
            <!-- <form name="user" id="document" action="/index" method="post"> -->
                <table>
                    <thead class="hidden">
                        <tr>
                            <th colspan="2">구조상 필요한 표머리</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th><label for="userId">사원번호</label></th>
                            <td>
                                <input type="text" name="userId" id="userId" maxlength="12" placeholder="아이디를 입력하세요."/>
                            </td>
                            <td>
                                <input id="idSaveCheck" class="checkbox" type="checkbox" name="userNumberCheck" value="true"/>사원번호 저장
                            </td>
                        </tr>
                        <tr class="input password">
                            <th><label for="password" class="label password">비밀번호</label></th>
                            <td>
                                <input type="password" id="password" name="password" class="form-input" maxlength="20" placeholder="비밀번호를 입력하세요.">
                                    <div class="eyes">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </input>    
                            </td>
                            
                        </tr>
                    </tbody>
                    </table>
                    <input 
                        id='go_index'    
                        type='submit'
                        class="button"
                        
                        value='로그인' />
                    <!-- </form> -->
                    <!-- <input type="submit" id="submitButton" value="로그인"/> -->
                <div class="findUser">
                    <p>회원 정보가 아직 없으신가요?</p>
                    <ul>
                        <li><a onclick='addUserPage()'>회원가입</a></li> <!-- 2. 회원가입 페이지 이동 -->
                        <li><a href="find_userId.ejs">아이디 찾기</a></li>
                        <li><a href="find_passwd.ejs">비밀번호 찾기</a></li>
                    </ul>
                </div>
                    
                <!-- 로그인 API -->
                <!-- <div>Google로 로그인하기</div>
                <div>Facebook으로 로그인하기</div>
                <div>Kakaotalk으로 로그인하기</div> -->
            
        </section>
        <!-- 디자인한 그림, 움짤 넣기! -->
        <section id="loginRight" class="loginSection">
            <img src="img/home.png" alt="" class="loginImg">
        </section>
    </div>
     <script>
         
     </script>
 </body>
 </html>